## Setup

In [1]:
import json as js
import pandas as pd
import numpy as np
from pprint import pprint
from utilities import read_base_dataset, read_companys_dataset2018
%matplotlib inline

## Read datasets

In [2]:
base_df = read_base_dataset()
base_df.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign
2,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign
3,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,Benign
4,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,Benign

In [3]:
own_df = read_companys_dataset2018()
own_df.head()

Number of Base Dataset Columns: 80
Number of Own Dataset Columns: 84

Number of Columns to correct : 52
Number of corrected labels from `token_sort_ratio` : 48

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,34200,6,26/05/2021 12:11:12 PM,961,2,0,0.0,0.0,0.0,0.0,...,32,0,0,0,0,1.622020272332477E15,0.0,1.622020272332477E15,1.622020272332477E15,NeedManualLabel
1,443,6,26/05/2021 12:11:27 PM,218,3,0,63.0,0.0,39.0,0.0,...,32,0,0,0,0,1.622020287765156E15,0.0,1.622020287765156E15,1.622020287765156E15,NeedManualLabel
2,41372,6,26/05/2021 12:11:27 PM,259,2,0,0.0,0.0,0.0,0.0,...,32,0,0,0,0,1.62202028777893E15,0.0,1.62202028777893E15,1.62202028777893E15,NeedManualLabel
3,443,6,26/05/2021 12:11:31 PM,166,3,0,63.0,0.0,39.0,0.0,...,32,0,0,0,0,1.622020291766361E15,0.0,1.622020291766361E15,1.622020291766361E15,NeedManualLabel
4,43972,6,26/05/2021 12:11:31 PM,254,2,0,0.0,0.0,0.0,0.0,...,32,0,0,0,0,1.622020291888184E15,0.0,1.622020291888184E15,1.622020291888184E15,NeedManualLabel

## Make Comparison

In [4]:
# Before processing columns
print("Number of Base Dataset Columns:", len(base_df.columns))
print("Number of Own Dataset Columns:", len(own_df.columns))

Number of Base Dataset Columns: 80
Number of Own Dataset Columns: 80

In [5]:
baseset = set(base_df.columns)
ownset = set(own_df.columns)

print(ownset-baseset)
print()
print(baseset-ownset)

set()

set()

## Replacement of column names to standard CIC-IDS-2018 using `fuzzywuzzy`

In [6]:
"""Install the following packages"""
# !python3 -m pip install fuzzywuzzy python-Levenshtein
# Refer to utilities function

'Install the following packages'

In [10]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 80 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Dst Port           1048575 non-null  int64
 1   Protocol           1048575 non-null  int64
 2   Timestamp          1048575 non-null  object
 3   Flow Duration      1048575 non-null  int64
 4   Tot Fwd Pkts       1048575 non-null  int64
 5   Tot Bwd Pkts       1048575 non-null  int64
 6   TotLen Fwd Pkts    1048575 non-null  int64
 7   TotLen Bwd Pkts    1048575 non-null  int64
 8   Fwd Pkt Len Max    1048575 non-null  int64
 9   Fwd Pkt Len Min    1048575 non-null  int64
 10  Fwd Pkt Len Mean   1048575 non-null  float64
 11  Fwd Pkt Len Std    1048575 non-null  float64
 12  Bwd Pkt Len Max    1048575 non-null  int64
 13  Bwd Pkt Len Min    1048575 non-null  int64
 14  Bwd Pkt Len Mean   1048575 non-null  float64
 15  Bwd Pkt Len Std    1048575 non-null  float64
 16  Flow Byts/s        1048575 non-null  float64
 17  Flow Pkts/s        1048575 non-null  float64
 18  Flow IAT Mean      1048575 non-null  float64
 19  Flow IAT Std       1048575 non-null  float64
 20  Flow IAT Max       1048575 non-null  int64
 21  Flow IAT Min       1048575 non-null  int64
 22  Fwd IAT Tot        1048575 non-null  int64
 23  Fwd IAT Mean       1048575 non-null  float64
 24  Fwd IAT Std        1048575 non-null  float64
 25  Fwd IAT Max        1048575 non-null  int64
 26  Fwd IAT Min        1048575 non-null  int64
 27  Bwd IAT Tot        1048575 non-null  int64
 28  Bwd IAT Mean       1048575 non-null  float64
 29  Bwd IAT Std        1048575 non-null  float64
 30  Bwd IAT Max        1048575 non-null  int64
 31  Bwd IAT Min        1048575 non-null  int64
 32  Fwd PSH Flags      1048575 non-null  int64
 33  Bwd PSH Flags      1048575 non-null  int64
 34  Fwd URG Flags      1048575 non-null  int64
 35  Bwd URG Flags      1048575 non-null  int64
 36  Fwd Header Len     1048575 non-null  int64
 37  Bwd Header Len     1048575 non-null  int64
 38  Fwd Pkts/s         1048575 non-null  float64
 39  Bwd Pkts/s         1048575 non-null  float64
 40  Pkt Len Min        1048575 non-null  int64
 41  Pkt Len Max        1048575 non-null  int64
 42  Pkt Len Mean       1048575 non-null  float64
 43  Pkt Len Std        1048575 non-null  float64
 44  Pkt Len Var        1048575 non-null  float64
 45  FIN Flag Cnt       1048575 non-null  int64
 46  SYN Flag Cnt       1048575 non-null  int64
 47  RST Flag Cnt       1048575 non-null  int64
 48  PSH Flag Cnt       1048575 non-null  int64
 49  ACK Flag Cnt       1048575 non-null  int64
 50  URG Flag Cnt       1048575 non-null  int64
 51  CWE Flag Count     1048575 non-null  int64
 52  ECE Flag Cnt       1048575 non-null  int64
 53  Down/Up Ratio      1048575 non-null  int64
 54  Pkt Size Avg       1048575 non-null  float64
 55  Fwd Seg Size Avg   1048575 non-null  float64
 56  Bwd Seg Size Avg   1048575 non-null  float64
 57  Fwd Byts/b Avg     1048575 non-null  int64
 58  Fwd Pkts/b Avg     1048575 non-null  int64
 59  Fwd Blk Rate Avg   1048575 non-null  int64
 60  Bwd Byts/b Avg     1048575 non-null  int64
 61  Bwd Pkts/b Avg     1048575 non-null  int64
 62  Bwd Blk Rate Avg   1048575 non-null  int64
 63  Subflow Fwd Pkts   1048575 non-null  int64
 64  Subflow Fwd Byts   1048575 non-null  int64
 65  Subflow Bwd Pkts   1048575 non-null  int64
 66  Subflow Bwd Byts   1048575 non-null  int64
 67  Init Fwd Win Byts  1048575 non-null  int64
 68  Init Bwd Win Byts  1048575 non-null  int64
 69  Fwd Act Data Pkts  1048575 non-null  int64
 70  Fwd Seg Size Min   1048575 non-null  int64
 71  Active Mean        1048575 non-null  float64
 72  Active Std         1048575 non-null  float64
 73  Active Max         1048575 non-null  int64
 74  Active Min         1048575 non-null  int64
 75  Idle Mean          1048575 non-null  float64
 76  Idle Std           1048575 non-null  float64
 77  Idle Max           1048575 non-null  int64
 78  Idle Min           1048575 non-null  int64
 79  Label              1048575 non-null  object
dtypes: float64(24), int64(54), object(2)
memory usage: 640.0+ MB

In [11]:
from utilities import get_configs

In [19]:
vars = get_configs()
df = pd.read_csv(vars["BaseDataset"]["2018"])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 80 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Dst Port           1048575 non-null  int64
 1   Protocol           1048575 non-null  int64
 2   Timestamp          1048575 non-null  object
 3   Flow Duration      1048575 non-null  int64
 4   Tot Fwd Pkts       1048575 non-null  int64
 5   Tot Bwd Pkts       1048575 non-null  int64
 6   TotLen Fwd Pkts    1048575 non-null  int64
 7   TotLen Bwd Pkts    1048575 non-null  int64
 8   Fwd Pkt Len Max    1048575 non-null  int64
 9   Fwd Pkt Len Min    1048575 non-null  int64
 10  Fwd Pkt Len Mean   1048575 non-null  float64
 11  Fwd Pkt Len Std    1048575 non-null  float64
 12  Bwd Pkt Len Max    1048575 non-null  int64
 13  Bwd Pkt Len Min    1048575 non-null  int64
 14  Bwd Pkt Len Mean   1048575 non-null  float64
 15  Bwd Pkt Len Std    1048575 non-null  float64
 16  Flow Byts/s        1048575 non-null  float64
 17  Flow Pkts/s        1048575 non-null  float64
 18  Flow IAT Mean      1048575 non-null  float64
 19  Flow IAT Std       1048575 non-null  float64
 20  Flow IAT Max       1048575 non-null  int64
 21  Flow IAT Min       1048575 non-null  int64
 22  Fwd IAT Tot        1048575 non-null  int64
 23  Fwd IAT Mean       1048575 non-null  float64
 24  Fwd IAT Std        1048575 non-null  float64
 25  Fwd IAT Max        1048575 non-null  int64
 26  Fwd IAT Min        1048575 non-null  int64
 27  Bwd IAT Tot        1048575 non-null  int64
 28  Bwd IAT Mean       1048575 non-null  float64
 29  Bwd IAT Std        1048575 non-null  float64
 30  Bwd IAT Max        1048575 non-null  int64
 31  Bwd IAT Min        1048575 non-null  int64
 32  Fwd PSH Flags      1048575 non-null  int64
 33  Bwd PSH Flags      1048575 non-null  int64
 34  Fwd URG Flags      1048575 non-null  int64
 35  Bwd URG Flags      1048575 non-null  int64
 36  Fwd Header Len     1048575 non-null  int64
 37  Bwd Header Len     1048575 non-null  int64
 38  Fwd Pkts/s         1048575 non-null  float64
 39  Bwd Pkts/s         1048575 non-null  float64
 40  Pkt Len Min        1048575 non-null  int64
 41  Pkt Len Max        1048575 non-null  int64
 42  Pkt Len Mean       1048575 non-null  float64
 43  Pkt Len Std        1048575 non-null  float64
 44  Pkt Len Var        1048575 non-null  float64
 45  FIN Flag Cnt       1048575 non-null  int64
 46  SYN Flag Cnt       1048575 non-null  int64
 47  RST Flag Cnt       1048575 non-null  int64
 48  PSH Flag Cnt       1048575 non-null  int64
 49  ACK Flag Cnt       1048575 non-null  int64
 50  URG Flag Cnt       1048575 non-null  int64
 51  CWE Flag Count     1048575 non-null  int64
 52  ECE Flag Cnt       1048575 non-null  int64
 53  Down/Up Ratio      1048575 non-null  int64
 54  Pkt Size Avg       1048575 non-null  float64
 55  Fwd Seg Size Avg   1048575 non-null  float64
 56  Bwd Seg Size Avg   1048575 non-null  float64
 57  Fwd Byts/b Avg     1048575 non-null  int64
 58  Fwd Pkts/b Avg     1048575 non-null  int64
 59  Fwd Blk Rate Avg   1048575 non-null  int64
 60  Bwd Byts/b Avg     1048575 non-null  int64
 61  Bwd Pkts/b Avg     1048575 non-null  int64
 62  Bwd Blk Rate Avg   1048575 non-null  int64
 63  Subflow Fwd Pkts   1048575 non-null  int64
 64  Subflow Fwd Byts   1048575 non-null  int64
 65  Subflow Bwd Pkts   1048575 non-null  int64
 66  Subflow Bwd Byts   1048575 non-null  int64
 67  Init Fwd Win Byts  1048575 non-null  int64
 68  Init Bwd Win Byts  1048575 non-null  int64
 69  Fwd Act Data Pkts  1048575 non-null  int64
 70  Fwd Seg Size Min   1048575 non-null  int64
 71  Active Mean        1048575 non-null  float64
 72  Active Std         1048575 non-null  float64
 73  Active Max         1048575 non-null  int64
 74  Active Min         1048575 non-null  int64
 75  Idle Mean          1048575 non-null  float64
 76  Idle Std           1048575 non-null  float64
 77  Idle Max           1048575 non-null  int64
 78  Idle Min           1048575 non-null  int64
 79  Label              1048575 non-null  object
dtypes: float64(24), int64(54), object(2)
memory usage: 640.0+ MB